@charset "utf-8";

@import 'settings';

.login h1 a {
  width: 300px;
  background-image: url('../img/logo.png');
  background-size: 100%;
}

.login .message,
.login .success {
  border-color: $color-main;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  border-color: $color-main;

  &:focus {
    border-color: $color-main;
    box-shadow: 0 0 0 1px $color-main;
  }
}

.wp-core-ui .button-secondary {
  color: $color-main;
}

.wp-core-ui .button-primary {
  border-color: $color-main !important;
  background: $color-main !important;

  &:hover {
    border-color: lighten($color-main, 5%) !important;
    background: lighten($color-main, 5%) !important;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $color-main;
  }
}
