@charset "utf-8";

@import 'fonts';

/**
* @section Variables
*/
$fontArial: Arial, Helvetica, sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;


/* ==|== primary styles =====================================================
   Authors: %Author Name%
   ========================================================================== */
