/**
* @section pagination
*/
.b-pagination {

  &__total {}

  &__pages {}

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    &.-type_prev {}
    &.-type_next {}
    &.-type_dots {}
    &.-state_current {}
  }
}


/**
* @section pageNav
*/
.b-pageNav {
  @include clearfix;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;

    &.-type_old {
      float: left;
    }

    &.-type_new {
      float: right;
    }

    a {
    
    }
  }
}